body {
    padding: 0;
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(36, 35, 35);
    background: #d1d4d4;
    position:relative;
    width: 100%;
}

   
        


h1{
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(64, 201, 194);
    text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    padding: 25 px;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(36, 35, 35);
    background: #d1d4d4;
}

span{
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    line-height: 150%;
    color: #f6fcfc;
    background: rgb(64, 201, 194);
}

h3{
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(64, 201, 194);
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
}



p{
        padding: 20px 0;
        margin: 0;
        margin-bottom: 20px;
        font-size: 25px;
        color: rgb(26, 27, 27);
        text-align: left;
        font-family: Georgia, "Times New Roman", Times, serif;
}

    .jumbotron{
        padding: 10px;
        background: white;
        margin-top:50px;
        margin-left:5px;
        margin-right:5px;
        margin-bottom:20px;
        align-content: center;
      }

      img {
        max-width: 300%;
        max-height: 300%;
        object-fit: contain;
       }
        .col-sm-12{
            height: 250px;
            width: 250px;  
            }               

* {
    padding:0;
     margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
            
