body {
    padding: 0;
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(36, 35, 35);
    background: #d1d4d4;
    width: auto;
    min-width: 600 px;
    max-width: 2000 px;
}

h1{
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(64, 201, 194);
    text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    padding: 25 px;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(36, 35, 35);
    background: #d1d4d4;
}

span{
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    line-height: 150%;
    color: #f6fcfc;
    background: rgb(64, 201, 194);
}

h3{
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(64, 201, 194);
    text-align: left;
    font-family: Georgia, "Times New Roman", Times, serif;
}



p{
        padding: 20px 0;
        margin: 0;
        margin-bottom: 20px;
        font-size: 25px;
        color: rgb(26, 27, 27);
        text-align: left;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
